<%-include('view')%>
<link rel="stylesheet" href="cripto.css">

<h2>Suscríbete para ver todo sobre Criptomonedas</h2>
<div class="contai">
 <div class="btc">
     <img src="Bitcoin-Free-PNG-Image.png" alt="imagen de Bitcoin">
     <h2>Bitcoin</h2>
     <h3 class="text_btc"></h3>
 </div>
<div class="eth">
 <img src="Ethereum-Logo.wine.png" alt="imagen de Ethereum">
 <h2>Ethereum</h2>
 <h3 class="text_eth"></h3>
</div>
<div class="sol">
   <img src="Solana-Crypto.png" alt="imagen de Solana">
   <h2>Solana</h2>
   <h3 class="text_solana"></h3>
 </div>
<div class="doge">
   <img src="DogeCoin.png" alt="imagen de Dogecoin">
   <h2>Dogecoin</h2>
   <h3 class="text_doge"></h3>
</div>
<div class="polygon">
   <img src="polygon.png" alt="imagen de Polygon">
   <h2>Polygon</h2>
   <h3 class="text_polygon"></h3>
</div>
<div class="tron">
    <img src="Tron.png" alt="imagen de Tron">
    <h2>Tron</h2>
    <h3 class="text_tron"></h3>
 </div>
 <div class="avalanche">
    <img src="avalanche.png" alt="imagen de Avalanche">
    <h2>Avalanche</h2>
    <h3 class="text_avanche"></h3>
 </div>
 <div class="decentraland">
    <img src="Decentraland.png" alt="imagen de Decentraland">
    <h2>Decentraland</h2>
    <h3 class="text_decentraland"></h3>
 </div>
</div>