<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Zombie</title>
    <link rel="stylesheet" href="game_with.css">
</head>

<body>
    <img src="./kisspng-2d-computer-graphics-video-game-character-concept-2d-game-character-sprites-5b0d388c0374a1.2022920515275931000142.png" class="warrior" alt="">
    
    <div class="container">
        <div class="container_life">
            <div class="life"></div>
        </div>
        <div class="container_life2">
            <div class="life2"></div>
        </div>
        <div>
            <img src="./zombie.png" class="zombie" alt="imagen de primer zombie">
            <img src="zombie2.png" class="zombie2" alt="imagen de segundo zombie">
        </div>
        <div class="container_h2">
            <h2>Ataca el Zombie haciendo click sobre el</h2>
            <h3>No dejes que se Hacerque</h3>
        </div>
    </div>
    <button>Enpezar Juego</button>
    </div>
    <div class="window">
        <p>Moriste</p>
    </div>
    <div class="return">⬅</div>
    <script src="game_with.js" type="module"></script>
</body>
</html>