<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Web</title>
    <link rel="stylesheet" href="./PaginaWeb.css">
</head>
<body>
     <section class="container">
        <header class="header">
            <article class="initio">
                <p>German</p>
            </article>
            <article class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#habilidad">Habilidades</a></li>
                    <li><a href="#porfolio">Porfolio</a></li>
                    
                </ul>
            </article>
        </header>
        <img src="boton-hamburguesa.png" class="hamburger-button" alt="boton de hamburguesa">
        <div class="window">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#habilidad">Habilidades</a></li>
                <li><a href="#porfolio">Porfolio</a></li>
            </ul>
        </div>
        <div class="main_container_image">
            <article class="containerImg">
                 <img src="miFoto.jpg">
             </article>
             <article class="conatiner_nameLastnameAndIcon">
                 <h2>German Diorio</h2>
                 <h4>Programador Web</h4>
                 
                 <div class="containerIcon">
                     <a href="https://api.whatsapp.com/send?phone=542284712485&text=Hola,%20me%20gustaria%20contactarte."><img src="whatsapp.png" alt="imagen de whatsapp"></a>
                     <a href="https://www.linkedin.com/in/germ%C3%A1n-diorio-1360301ab/"><img src="linkedin.png" alt="imagen de linkedin"></a>
                 </div>
             </article>
        </div>
    </section>
    <hr>
    <div class="icon_porfolio" id="habilidad">
        <img src="file_type_html_icon_130541.png" alt="html">
        <img src="file_type_css_icon_130661.png" alt="css">
        <img src="javascript_icon_130900.png" alt="javascript">
        <img src="react_original_wordmark_logo_icon_146375.png" alt="react">
        <img src="file_type_sass_icon_130182.png" alt="sass">
        <img src="bootstrap_plain_wordmark_logo_icon_146620.png" alt="bootstrap">
        <img src="node_icon_196185.png" alt="node">
        <img src="mysql_original_wordmark_logo_icon_146417.png" alt="mysql">
    </div>
    <hr>
    <div class="container_porfolio" id="porfolio">
        <div>
            <h3>Porfolio de Juego</h3>
            <img src="Juego.png" alt="imagen de control">
            <button class="btn-game"><a href="/game">Iniciar Juego</a></button>
        </div>
        <div>
            <h3>Porfolio de Cripto</h3>
            <img src="imagen-Bitcoin.png" alt="imagen de bitcoin">
            <button class="btn-cripto"><a href="/cripto">CriptoMonedas</a></button>
        </div>
    </div>
    <div class="arrow">
        <div>⬆</div>
    </div>
    
    <script src="./PaginaWeb.js"></script>
</body>
</html>