<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
      <div class="Profile_container">
        <article>
            <h3>Suscríbete a Criptomonedas</h3>
        </article> 
        <article>
            <nav>
                <ul>
                    <li><a href="/signin">Cerrar Session</a></li>
                </ul>
             </nav>
         </article>
      </div>
      <% name.forEach(function(el){ %>
            <h2 style="text-align: center;"> Hola <%= el.name %></h2>
        <% }); %>
     <div class="contai">
        <div class="btc">
            <img src="Bitcoin-Free-PNG-Image.png" alt="imagen de Bitcoin">
            <h2>Bitcoin</h2>
            <h3 class="text_btc"></h3>
            <h4 class="wentUp"></h4>
            <p class="initial_release_btc"></p>
    </div>
    <div class="eth">
        <img src="Ethereum-Logo.wine.png" alt="imagen de Ethereum">
        <h2>Ethereum</h2>
        <h3 class="text_eth"></h3>
        <h4 class="wentUpEth"></h4>
        <p class="initial_release_eth"></p>
       </div>
       <div class="sol">
        <img src="Solana-Crypto.png" alt="imagen de Solana">
        <h2>Solana</h2>
        <h3 class="text_sol"></h3>
        <h4 class="wentUpSol"></h4>
        <p class="initial_release_sol"></p>
       </div>
       <div class="doge">
        <img src="DogeCoin.png" alt="imagen de dogecoin">
        <h2>Dogecoin</h2>
        <h3 class="text_doge"></h3>
        <h4 class="wentUpDoge"></h4>
        <p class="initial_release_doge"></p>
       </div>
       <div class="polygon">
        <img src="polygon.png" alt="imagen de polygon">
        <h2>Polygon</h2>
        <h3 class="text_polygon"></h3>
        <h4 class="wentUpPolygon"></h4>
        <p class="initial_release_polygon"></p>
       </div>
       <div class="avalanche">
        <img src="avalanche.png" alt="imagen de avalanche">
        <h2>Avalanche</h2>
        <h3 class="text_avalanche"></h3>
        <h4 class="wentUpAvalanche"></h4>
        <p class="initial_release_avalanche"></p>
       </div>
       <div class="tron">
        <img src="Tron.png" alt="imagen de tron">
        <h2>Tron</h2>
        <h3 class="text_tron"></h3>
        <h4 class="wentUpTron"></h4>
        <p class="initial_release_tron"></p>
       </div>
       <div class="decentraland">
        <img src="Decentraland.png" alt="imagen de decentraland">
        <h2>Decentraland</h2>
        <h3 class="text_decentraland"></h3>
        <h4 class="wentUpDecentraland"></h4>
        <p class="initial_release_decentraland"></p>
       </div>
    </div>

     <script src="profile.js"></script>
     
</body>
</html>