<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
</head>
<body>
      <%-include('view')%>

      <form class="form_Container" method="post" action="/signup">
        <article>
            <h2>SignUp</h2>
        </article>
        <article>
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="username" placeholder="Username">
          <input type="text" name="password"  placeholder="Password">
          <button type="submit">SignUp</button>
        </article>
      </form>
</body>
      
</html>