<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <link rel="stylesheet" href="view.css">

     <div class="Container_signUp_And_Signin">
         <article>
             <h3>Suscríbete a Criptomonedas</h3>
         </article> 
         <article>
            <nav>
                <ul>
                    <li><a href="/signin">Iniciar Sesion</a></li>
                    <li><a href="/signup">Registrarse</a></li>
                </ul>
             </nav>
         </article>
     </div> 

    
     
</body>
</html>